@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

body {
    padding-bottom: 0 !important;
}

/* Scroll moderno */
ul::-webkit-scrollbar {
    width: 6px;
}

ul::-webkit-scrollbar-track {
    background: transparent;
}

ul::-webkit-scrollbar-thumb {
    background: #9ca3af; /* gray-400 */
    border-radius: 9999px;
}

ul::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* gray-500 */
}

/* Firefox */
ul {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af transparent;
}

html {
    scroll-behavior: smooth;
}

/* Cookie Consent Banner Animation */
@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out;
}