@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

body {
    padding-bottom: 0 !important;
}

/* Scroll moderno */
/* Scroll moderno */
ul::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

ul::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

ul::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    /* slate-300 */
    border-radius: 9999px;
}

ul::-webkit-scrollbar-thumb:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
    /* slate-400 */
}

/* Dark mode adjustment */
.dark ul::-webkit-scrollbar-thumb,
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4b5563;
    /* gray-600 */
}

.dark ul::-webkit-scrollbar-thumb:hover,
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
    /* gray-500 */
}

/* Firefox */
/* Firefox */
ul,
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
}

.dark ul,
.dark .custom-scrollbar {
    scrollbar-color: #4b5563 transparent;
}

html {
    scroll-behavior: smooth;
}

/* Cookie Consent Banner Animation */
@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out;
}